https://localhost:{$CADDY_PORT} {
    tls internal
    log {
        output stdout
    }
    encode gzip zstd

    handle_path /api/* {
        reverse_proxy backend:{$BACKEND_PORT} {
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
            header_up X-Real-IP {remote_host}
        }
    }

    reverse_proxy /auth/* backend:{$BACKEND_PORT} {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up X-Real-IP {remote_host}
    }

    reverse_proxy /* frontend:80 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
    }

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "no-referrer-when-downgrade"
        X-XSS-Protection "1; mode=block"
    }
}
